.todo-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;

    padding: 2rem;
    padding-top: 0;

    &__column-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        width: 100%;
        height: calc(100% - 100px);

        margin-bottom: 2rem;
    }
}